name: Build and Push Docker Image

on:
  push:
  
  pull_request:
   

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Copy files to Docker context
        run: |
          cp -R ./* $GITHUB_WORKSPACE/.github/workflows/
          
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        env:
          REPOSITORY: mohamed046/ry2dr
          IMAGE_TAG: tag
        run: |
          docker build -t $REPOSITORY:$IMAGE_TAG -f .github/workflows/Dockerfile .
          docker push $REPOSITORY:$IMAGE_TAG
      - name: run locally
        env:
          REPOSITORY: mohamed046/ry2dr
          IMAGE_TAG: tag
        run: |
          docker run -p 8080:80 $REPOSITORY:$IMAGE_TAG 2>/dev/null

